.App {
  text-align: center;
  padding: 0 25%;
  height: 400vh;
}

.spw-spinner{
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  position:relative;
  width:100%;
  margin-top: 150vh;
}

.spw-spinner .spw-outer-wheel{
  width:100%
}

.spw-spinner .spw-inner-wheel{
  position:absolute;
  width:80%
}

.spw-spinner .spw-static-x{
  position:absolute;
  width:75%
}

.spw-container-example{
  height:200vh;
  margin-top:50vh;
  padding:0 25%
}
